.dashboard__container {
  box-sizing: border-box;
  padding: 0 1.8rem;
}
.project--filter {
  margin: 3rem auto;
}
.project--filter nav {
  display: flex;
  padding: 1rem;
  background-color: #fff;
  border-radius: 4px;
}
.project--filter p {
  font-size: 1.6rem;
  margin-right: 1rem;
}
.project--filter button {
  background: transparent;
  border: 0;
  font-family: inherit;
  font-weight: bold;
  color: var(--text-color);
  cursor: pointer;
  border-right: 1px solid #e4e4e4;
  font-size: 1.6rem;
}

.project--filter button:last-child {
  border: 0;
}

.project--filter .active {
  color: var(--primary-color);
}
