.navbar {
  padding: 3rem 3.5rem;
  box-sizing: border-box;
  margin-bottom: 8rem;
}
.navbar .navbar__content {
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
  align-items: center;
}
.navbar .navbar__logo {
  margin-right: auto;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  color: var(--heading-color);
}
.navbar a {
  color: #333;
  margin-right: 2rem;
  text-decoration: none;
  text-transform: uppercase;
}
