.userList__container {
  width: 25rem;
  padding: 3rem;
  background-color: #fbfbfb;
  color: var(--heading-color);
  box-sizing: border-box;
}
.userList__container h2 {
  text-align: end;
  margin-bottom: 4rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
  font-size: 1.6rem;
}
.userList__container .userList__item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2rem auto;
}
.userList__container .avatar__container {
  margin-left: 1rem;
  width: 4rem;
  height: 4rem;
}
.userList__item--online {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 1rem;
  margin-top: 2px;
  border-radius: 50%;
  background-color: green;
}
